body{
    background-color: #c9c9c9 ;
}
.experPage{
    background-color: #c9c9c9 ;
    height: 100vh;
    width: 80%;
    float: right;
    display: grid;
    padding: 40px;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    grid-template-rows: 270px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.experPage .project{
    overflow: hidden;
    padding-bottom: 10px;
    background-color: #dfdede;
    border-radius: 10px;
}
.experPage .project img{
    width: 100%;
    height: 170px;
}
.experPage .project h2{
    padding-left: 15px;
    margin-bottom: 10px;
}
.experPage .project a{
    padding-left: 15px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .experPage{
        display: block;
        width: 100%;
        padding: 20px;
    }
    .experPage .project{
        width: 85%;
        margin: 20px auto;
    }
}


@media only screen and (max-width: 992px) {
    .experPage{
        height: 100vh;
        width: 100%;
        display: grid;
        padding: 20px;
        grid-template-columns: 25% 25%;
        gap: 10px;
        grid-template-rows: 270px;
    }
}
